.button_shared input {
  display: none;
}

.button_shared .btn {
  border: none;
  cursor: pointer;
  color: var(--white);
  background: var(--primary-color);
  border-radius: 12px;
  padding: 8px 56px;
  font-weight: 600;
  font-size: 19px;
}

.button_shared .btn:hover {
  background: var(--secondary-color);
}
