.btn {
  border: none;
  cursor: pointer;
  color: var(--white);
  background: var(--primary-color);

  border-radius: 12px;
  padding: 8px 56px;
  font-weight: 600;
  font-size: 19px;
}

.btn:not(:disabled):hover {
  background: var(--secondary-color);
}

.btn:disabled {
  opacity: 0.5;
}
