p {
  font-weight: 500;
}

.main_div {
  margin-left: -33vw;
}
header {
  background-color: white;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0px 100px;
  margin-bottom: 0px;
}
.logo {
  width: 100%;
  margin-left: 0px;
  margin-top: 15px;
  /* margin-bottom: 30px; */
}
.logo > img:nth-child(1) {
  width: 33px;
  height: 27px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.logo > img:nth-child(2) {
  width: 110px;
  height: 35px;
  margin-bottom: 5px;
}
.nav_links {
  display: flex;
}
.nav_links button {
  margin-right: 15px;
  width: 100px;
  height: 35px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  border: 2px solid #4042d0;
}
.nav_links button:first-child {
  background-color: white;
  color: #4042d0;
  margin-top: 0px;
  margin-right: 20px;
}
.nav_links button:last-child {
  background-color: #4042d0;
  color: white;
  margin-top: 0;
}
.sections_div {
  background-color: #e5e5e5;
  width: 100vw;
  display: flex;
  height: unset !important;
  flex-direction: column;
}
.section1 {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  border: 4px solid black;
  width: 100%;
  height: 100vh;
  position: relative;
}
.section1 article {
  width: 50%;
  /* margin-right: 30vw; */
  /* margin-left: 50px; */
  margin-top: 40px;
}
.section1 h1 {
  margin-bottom: 20px;
  color: black;
  font-size: 2.7rem;
}
.section1 h1 > span {
  margin-bottom: 20px;
  color: #4042d0;
}
.section1 p {
  font-size: 1.1rem;
  text-align: start;
  margin-bottom: 20px;
  font-weight: 500;
}
.section1 > article button {
  width: 240px;
  height: 45px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  background-color: #4042d0;
  color: rgb(239, 234, 234);
}
.section1_image1 {
  /* border: 1px solid black; */
  height: 80%;
  position: absolute;
  right: 0;
  z-index: 2;
  /* background-color: #d9d9d9; */
}
.section1_image2 {
  /* border: 1px solid black; */
  height: 80%;
  position: absolute;
  right: 26%;
  top: 36%;
  overflow: hidden;
}
.section1_image3 {
  /* border: 1px solid black; */
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
}
.section2 {
  height: 90vh;
  padding: 20px 100px;
  border: 4px solid black;
  z-index: 2;
  background-color: white;
}
.section2_info {
  display: flex;
  margin-bottom: 10px;
}
.section2 > div > img {
  width: 50px;
  height: 50px;
}
.section2 article {
  margin-left: 10px;
}
.section2 h1 {
  margin-bottom: 20px;
  color: black;
  font-size: 1.6rem;
}

.section2-image {
  border: 1px solid black;
  height: 80%;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  padding: 20px 100px;
  border: 4px solid black;
}
.section3-info {
}
.section3-info p {
  width: 30vw;
  font-size: 0.8rem;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.section3_image {
  border: 1px solid black;
  width: 90vw;
}

.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 100px;
  height: 90vh;
  border: 4px solid black;
}
.section4_info {
}
.section4_info p {
  width: 30vw;
  font-size: 0.8rem;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.section4_image {
  border: 1px solid black;
  width: 90vw;
}

footer {
  background-color: white;
  width: 100vw;
}
