/* @import url("https://fonts.googleapis.com/css2?family=Inter&family=Julius+Sans+One&family=KoHo:wght@700&family=Langar&family=Manrope:wght@400;500;600;800&family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}
*/
