.no_profile_header {
  display: flex;
  gap: 62px;
  margin-top: 30px;
  justify-content: center;
}

.no_profile_header .logo_div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.no_profile_header .actions_div {
  display: flex;
  align-items: center;
  gap: 290px;
}

.no_profile_header .btn {
  opacity: 0.5;
  border: none;
  cursor: pointer;
  color: var(--white);
  background: var(--primary-color);
  border-radius: 12px;
  padding: 8px 56px;
  font-weight: 600;
  font-size: 19px;
}

.no_profile_body {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.no_profile_body section {
  display: flex;
  gap: 54px;
  max-width: 55vw;
  align-items: center;
}

.no_profile_body img {
  width: 320px;
}

.no_profile_body h2 {
  font-weight: 600;
  font-size: 22px;
}

.no_profile_body p {
  margin: 10px 0 36px;
  font-size: 16px;
  font-weight: 500;
}

.no_profile_body .btn {
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  width: 300px;
  height: 46px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
