.upload {
  display: flex;
  justify-content: center;
}

.upload > div {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.upload img {
  width: 280px;
}

.upload h2 {
  margin: 10px 0 6px;
  font-weight: 600;
  font-size: 20px;
}

.upload p {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 28px;
}

.upload input {
  display: none;
}

.upload label {
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 106px;
}

.upload aside {
  position: absolute;
  background: rgba(137, 137, 137, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload aside > div {
  background-color: white;
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.08);
  border-radius: 4px;
  padding: 30px 32px;
  text-align: left;
  max-width: 423px;
}

.upload aside > div h4 {
  font-weight: 600;
  font-size: 16px;
}

.upload aside > div p {
  font-weight: 500;
  font-size: 12px;
  margin: 18px 0 45px;
}

.upload aside > div .btn_div {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  gap: 42px;
}

.upload aside > div .btn_div button {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--primary-color);
}
