.upload {
  display: flex;
  justify-content: center;
  width: 100%;
}

.uploadMore .imageDiv .image_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.uploadMore .imageDiv .image_header > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.uploadMore .imageDiv .image_header > div img {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.uploadMore .imageDiv .loader {
  border-radius: 1rem;
  margin: 0 auto;
}

.uploadMore .imageDiv .serverImg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
}

.uploadMore .imageDiv .serverImg .rel {
  position: relative;
  height: 133px;
}

.uploadMore .openImg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadMore .openImg .closeImg {
  position: fixed;
  top: 5%;
  right: 5%;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
}

.uploadMore .openImg .closeImg:hover {
  color: var(--primary-color);
}

.uploadMore .openImg img {
  object-fit: contain;
  max-width: 90vw;
  max-height: 90vh;
}

.uploadMore .imageDiv img {
  object-fit: cover;
  cursor: pointer;
  height: 133px;
  width: 100%;
}

.upload > div {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.upload .loader {
  border-radius: 1rem;
}

.upload img {
  width: 280px;
}

.upload h2 {
  margin: 10px 0 6px;
  font-weight: 600;
  font-size: 20px;
}

.upload p {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 28px;
}

.upload input,
.uploadMore input {
  display: none;
}

.upload_button label {
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 80px;
  width: 90%;
}

.upload aside {
  position: absolute;
  background: rgba(137, 137, 137, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.upload aside > div {
  background-color: white;
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.08);
  border-radius: 4px;
  padding: 30px 32px;
  text-align: left;
  max-width: 423px;
}

.upload aside > div h4 {
  font-weight: 600;
  font-size: 16px;
}

.upload aside > div p {
  font-weight: 500;
  font-size: 12px;
  margin: 18px 0 45px;
}

.upload aside > div .btn_div {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  gap: 35px;
}

.upload aside > div .btn_div button {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--primary-color);
}

.upload aside > div .btn_div input {
  display: none;
}

.upload aside > div .btn_div .btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--primary-color);
  padding: 0;
}
